# IDE
.vscode/
.idea/
.DS_Store
.trae
.pypirc
deploy_token.pypirc
deploy_token.pypirec
.packs/
*.tgz
.gemini

# Python
__pycache__/
*.py[cod]
.venv/
env/
.pytest_cache/
.coverage
*.pypirc

# Node / JS
node_modules/
dist/
*.tsbuildinfo

# Database / Sync
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db
